node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
coverage/
npm-debug.log
yarn-error.log
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
.vs/
*.suo
*.userprefs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
.DS_Store